@use "src/theme";
:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.scale {
  display:flex;
  flex:1;
  gap: 2rem;
}
.scale-legend {
  margin-left: -1rem;
  color: darken(theme.$colorSecondary,10);
}
.arrow {
  background: darken(theme.$colorSecondary,10);
  width: 4px;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 1px #000);
  &:after {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid darken(theme.$colorSecondary,10);
    border-left: 15px solid transparent;
    position: absolute;
    content: "";
    left: 2px;
    bottom: -2px;
    transform: translate3d(-50%, 0, 0);
  }
  &:before {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 15px solid darken(theme.$colorSecondary,10);
    border-left: 15px solid transparent;
    position: absolute;
    content: "";
    left: 2px;
    top: -2px;
    transform: translate3d(-50%,0,0);
  }
}
