  <ng-container *ngIf="state === ViewState.setQuestion">
    <app-set-question [playersCount]="players?.length"></app-set-question>
  </ng-container>

  <ng-container *ngIf="state === ViewState.thinkOfAnswer">
    <app-answering [myValue]="myValue" [maxValue]="players?.length" [question]="activeRound?.question" (sendText)="sendAnswer($event)"></app-answering>
  </ng-container>
  <ng-container *ngIf="state === ViewState.waitForOthers">
    <app-wait>
      Wait until all other players have submitted an answer and you can start revealing them
    </app-wait>
  </ng-container>
  <ng-container *ngIf="state === ViewState.answersReveal || state === ViewState.sorting || state === ViewState.points">
    <h2>{{activeRound?.question?.text}}</h2>
    <div class="results">
        <app-revealing-and-sorting [state]="state" (submitOrder)="onSubmitOrder()"></app-revealing-and-sorting>
    </div>
  </ng-container>
    <ng-container *ngIf="state === ViewState.points">
      <app-button (click)="passToNextMaster()">
        {{(activeRound?.index || 0) >= (numberRounds || 1) ? 'Results' : 'Next Round!'}}
      </app-button>
    </ng-container>
