<div class="sorting-container">
  <div *ngIf="state === ViewState.answersReveal" class="info">Click at the cards to reveal the answers</div>
  <div *ngIf="state === ViewState.sorting" class="info">Drag and drop the cards to arrange them on the scale</div>
  <div class="scale-legend" *ngIf="state !== ViewState.answersReveal">{{activeRound?.question?.to}}</div>
  <div class="scale">
    <div class="arrow" *ngIf="state !== ViewState.answersReveal"></div>
    <div
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="answers"
      class="drop-list sorted-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let item of answers; let i=index;"
           [cdkDragDisabled]="state !== ViewState.sorting"
           cdkDrag>
        <app-card (click)="flipCard(item.playerName)" [hidden]="isHidden(item)"
                  [correct]="item.value === i+1 && state === ViewState.points"
        >
          <ng-container always-visible>
            {{item.playerName}}:
            <div *ngIf="state !== ViewState.answersReveal">{{item.text}}</div>
            <div *ngIf="state === ViewState.points">{{item.value}}</div>
          </ng-container>
          <div hidden-content *ngIf="state === ViewState.answersReveal">
            {{item.text}}
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="scale-legend" *ngIf="state !== ViewState.answersReveal">{{activeRound?.question?.from}}</div>
  <app-button *ngIf="state === ViewState.sorting" (click)="submit()">Submit order</app-button>
</div>
