<div class="sorting-container">
  <div *ngIf="state === ViewState.answersReveal" class="info">Click at the cards to reveal the answers</div>
  <div *ngIf="state === ViewState.sorting" class="info">Drag and drop the cards to arrange them on the scale</div>

  <app-scale *ngIf="state !== ViewState.answersReveal else revealing"
             [from]="activeRound?.question?.from || ''" [to]="activeRound?.question?.to || ''">
    <ng-container *ngTemplateOutlet="revealing"></ng-container>
  </app-scale>

  <ng-template #revealing>
    <div
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="answers"
      class="drop-list sorted-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-box" *ngFor="let item of answers; let i=index;"
           [cdkDragDisabled]="state !== ViewState.sorting"
           cdkDrag>
        <app-answer-card [clickable]="true"
                         (click)="flipCard(item.playerName)"
                         [hidden]="isHidden(item)"
                         [correct]="item.value === i+1 && state === ViewState.points"
                         [playerName]="item.playerName"
                         [value]="state === ViewState.points ? item.value : undefined"
                         [text]="item.text"
        ></app-answer-card>
      </div>
    </div>
  </ng-template>


  <app-button *ngIf="state === ViewState.sorting" (click)="submit()">Submit order</app-button>
</div>
