@use './src/theme';
.card {
  padding: 1.5rem;
  background: theme.$colorTertiary;
  color: white;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &.clickable {
    cursor: pointer;
  }

  @keyframes appear {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}
