@use './src/theme';
.card {
  padding: 2rem;
  background: theme.$colorTertiary;
  color: white;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  flex: 1;
  &.correct {
    background: lightseagreen;
  }
  .hidden-content {
    opacity: 0;
    &.show {
      animation: appear 1s forwards;
      }
    }

  @keyframes appear {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}
