:host {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scale-form {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
  > span {
    flex:1;
    font-size: 1.3rem;
    text-align: right;
    min-width: fit-content;
  }
  > app-input {
    flex:2;
  }
}
