<h2>Play together with your friends to find the order<br/> of your creative thoughts on a given or self-designed topic and scale.</h2>
<div *ngIf="room" class="drop">
  <div class="active-game" @fadeIn>
    <div>You are in a game right now!</div>
    <app-button (click)="returnToGame()">Return to game</app-button>
    <app-button [secondary]="true" (click)="leaveGame()">Leave game</app-button>
  </div>
</div>
<form [formGroup]="startForm" class="form">
  <div class="player-settings">
    <img *ngIf="avatar" [src]="avatar" (click)="showAvatarGenerator = true" class="avatar" alt="avatar"/>
    <app-input class="name-input" [placeholder]="'Name'" required [formControlName]="'name'" [maxlength]="50"
       [errorMessage]="startForm.controls.name.invalid && startForm.controls.name.touched ?
       ((startForm.controls.name.errors?.['required'] && 'Please enter a Name') ||
        (startForm.controls.name.errors?.['maxlength'] && 'Please enter a maximum of 50 characters') ||
        (startForm.controls.name.errors?.['alreadyTaken'] && 'Name is already taken by another player in the room')
       ): undefined"
    ></app-input>
  </div>
  <div class="choice">
    <app-button (click)="startGame(true)">New game</app-button>
    <div class="divisor">
      <div class="vl"></div>
      <div>or</div>
      <div class="vl"></div>
    </div>
    <div class="join">
      <app-input [placeholder]="'Game ID'" [formControlName]="'gameId'" [maxlength]="3"
       [errorMessage]="startForm.controls.gameId.invalid && startForm.controls.gameId.touched ?
       ((startForm.controls.gameId.errors?.['required'] && 'Please enter a Game ID') ||
        (startForm.controls.gameId.errors?.['minlength'] && 'Please enter at least 3 characters') ||
        (startForm.controls.gameId.errors?.['notFound'] && 'No Game with this ID was found') ||
        (startForm.controls.gameId.errors?.['started'] && 'Game has already started') ||
        (startForm.controls.gameId.errors?.['full'] && 'Room is full')
       ): undefined"
      ></app-input>
      <app-button (click)="startGame(false)">Join game</app-button>
    </div>
  </div>
</form>
<div class="how-it-works">
  <app-collapsible header="How it works">
    <p>Toplist is a turn-based real-time party game for 4 to 10 players.</p>
    <p>In each round another player is the captain and thinks of a topic (or chooses from a selection of example
      topics) to which the players must find an example according to their assigned value on a scale.</p>
    <p>An example question could be "What is the perfect first date activity - from 1 (Horror date) to 10 (Dream date)?"</p>
    <p>As soon as all players have submitted an answer, the captain starts to reveal them. Then he sorts the answers on the
      scale, with the aim of guessing the correct order.
      After that, the true values of the players are revealed.
      For each correctly assigned answer the captain receives one point (except their own answer) and the player who gave the answer also receives one point
      Afterwards, the role of the captain changes to the next player, whose turn it is to think up a topic.</p>
    <p>The game ends as soon as each player has been captain as many times as defined in the number of runs at the
      beginning.</p>
    <p>
      <img class="screenshot" width="100%" src="assets/images/toplist1.png">
      <img class="screenshot" width="100%" src="assets/images/toplist2.png">
      <img class="screenshot" width="100%" src="assets/images/toplist6.png">
    </p>
  </app-collapsible>
</div>
<app-avatar-generator *ngIf="isBrowser" [show]="showAvatarGenerator" (avatar)="updateAvatar($event)" (close)="showAvatarGenerator = false"></app-avatar-generator>
