@use 'src/theme';
@use 'src/mixins';
:host {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  @include mixins.width-responsive();
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  h1 {
    text-shadow: 3px 3px theme.$colorTertiary;
  }
  b {
    color: theme.$colorHighlight;
    background: darken(theme.$colorPrimary,10);
    padding: 0 0.2rem;
  }
}
.textarea {
  width:100%;
  text-align: left;
}
