@use "./src/theme";
:host {
  display: block;
}
button {
  outline: none;
  background-color: theme.$colorTertiary;
  color: #fff;
  border-radius: 2rem;
  padding: 0 2rem;
  border: 2px solid transparent;
  width: 100%;
  font-size: 1.25rem;
  height: 3.5rem;
  line-height: 1;
  transition: all 230ms ease-in-out;
  box-shadow: 0 3px 6px #00000066;
  font-weight: bold;
  font-family: theme.$fontFamily;

  &[disabled] {
    background-color: slategrey;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &:not([disabled]):hover {
    background-color: darken(theme.$colorTertiary, 10);
  }

  &.auto-width {
    width: auto;
  }

  &.secondary {
    background-color: theme.$colorSecondary;
    color: theme.$colorTertiary;
    border: 2px solid theme.$colorTertiary;
    &:not([disabled]):hover {
      background-color: darken(theme.$colorSecondary, 10);
    }
  }
}
