@use "src/mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
}

.results {
   @include mixins.width-responsive();
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.answers {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 15px 0;
  > * {
    width: 100%;
  }
}

.answers-move {
  transition: transform 1s;
}

.correct {
  background: lightseagreen !important;
}

