<ng-container *ngIf="state === ViewState.noQuestion">
  <div class="info wait">
    <div>Wait until <strong>{{master}}</strong> sets a question and scale</div>
    <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
  </div>
</ng-container>

<ng-container *ngIf="state === ViewState.thinkOfAnswer">
<app-answering [myValue]="myValue" [maxValue]="players?.length" [question]="activeRound?.question" (sendText)="sendAnswer($event)"></app-answering>
</ng-container>

<ng-container *ngIf="state === ViewState.waitForOthers">
      <div class="wait">
        <div>Wait until all other players have submitted an answer and <strong>{{master}}</strong> starts revealing them</div>
        <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
      </div>
</ng-container>

<ng-container *ngIf="state === ViewState.reveal">
      <div class="answers">
          <app-card *ngFor="let item of activeRound?.answers" [hidden]="!activeRound?.flippedAnswers?.has(item.playerName)">
            <ng-container always-visible>{{item.playerName}}:</ng-container>
            <div hidden-content>{{item.text}}</div>
          </app-card>
      </div>
</ng-container>

