<ng-container *ngIf="state === ViewState.noQuestion">
  <div class="info wait">
    <div>Wait until <strong>{{master}}</strong> sets a question and scale</div>
    <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
  </div>
</ng-container>

<ng-container *ngIf="state === ViewState.thinkOfAnswer">
  <app-answering [myValue]="myValue" [maxValue]="players?.length" [question]="activeRound?.question" (sendText)="sendAnswer($event)"></app-answering>
</ng-container>

<ng-container *ngIf="state === ViewState.waitForOthers">
      <div class="wait">
        <div>Wait until all other players have submitted an answer and <strong>{{master}}</strong> starts revealing them</div>
        <img src="https://media4.giphy.com/media/pFZTlrO0MV6LoWSDXd/200w.gif" width="200" alt="wait"/>
      </div>
</ng-container>

<ng-container *ngIf="state === ViewState.reveal || state === ViewState.sorting || state === ViewState.points">
  <h2>{{activeRound?.question?.text}}</h2>
      <div class="answers" [transition-group]="'answers'">
          <app-card
            *ngFor="let item of answers; let i=index;" [hidden]="!activeRound?.flippedAnswers?.has(item.playerName)" app-transition-group-item
            [correct]="item.value === i+1 && state === ViewState.points"
          >
            <ng-container always-visible>
              {{item.playerName}}:
            </ng-container>
            <div hidden-content>
              {{item.text}}
              <div *ngIf="state === ViewState.points">{{item.value}}</div>
            </div>
          </app-card>
      </div>
</ng-container>

