<app-game-info [players]="players" [activeRound]="activeRound" [numberRounds]="numberRounds"></app-game-info>
<div class="main-view">
  <ng-container *ngIf="ownPlayer?.isMaster; else playerView">
    <ng-container *ngIf="!activeRound; else masterView">
      <app-before-start-master [roomId]="roomId" [players]="players"
                               [allQuestions]="allQuestions"></app-before-start-master>
    </ng-container>

    <ng-template #masterView>
      <app-master-view [activeRound]="activeRound"
                       [allQuestions]="allQuestions"
                       [numberRounds]="numberRounds"
                       [players]="players"
                       [ownPlayer]="ownPlayer"
      ></app-master-view>
    </ng-template>
  </ng-container>

  <ng-template #playerView>
    <app-player-view [activeRound]="activeRound" [ownPlayer]="ownPlayer"
                     [players]="players" [master]="master"
    ></app-player-view>
  </ng-template>
</div>
