@use 'src/theme';
@use 'src/mixins';

.set-question {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  .create-container, .choose-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
  }
  .create-container {
    @include mixins.width-responsive();
  }
  .suggestions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    > app-card {
      flex: 1;
      display: flex;
      b {
        color: theme.$colorHighlight;
        background: darken(theme.$colorTertiary, 20);
        padding: 0 0.2rem;
      }
    }
  }

  .divisor {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
  .divisor:before, .divisor:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid theme.$colorSecondary;
  }
}
