<div class="set-question">
  <div class="create-container">
    <h3>Create a topic and a scale</h3>
    <app-own-question-form [playersCount]="playersCount" (validSumbit)="setQuestion($event)" ></app-own-question-form>
  </div>
  <div class="choose-container">
    <h3 class="divisor">Or choose from these topics</h3>
    <div class="suggestions">
      <app-card *ngFor="let question of exampleQuestions" (click)="setQuestion(question)" [clickable]="true">
          <h3>{{question.text}}</h3>
          <div>From <b>{{question.from}}</b> to <b>{{question.to}}</b></div>
      </app-card>
    </div>
    <app-button [secondary]="true" (click)="exampleQuestions = getNewRandomQuestions()">Get new topics</app-button>
  </div>
</div>
