@use "./src/theme";
@use "./src/mixins";
:host {
  display: contents;
}
.modal-content {
  @include mixins.width-responsive();
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.modal-footer {
  position: sticky;
  padding: 1rem 3rem;
  background: lighten(theme.$colorPrimary,8);
  bottom: 0;
  width: 100%;
}

.closed-question {
  border: 2px solid lighten(theme.$colorPrimary,8);
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: theme.$colorPrimary;
  gap: 1rem;
  .scale {
    color: darken(theme.$colorSecondary,10);
  }

  .button-container {
    display: flex;
    gap: 0.5rem;
  }
}

.secondary {
  font-family: theme.$fontFamily;
  font-size: 1rem;
  background: theme.$colorSecondary;
  color: theme.$colorTertiary;
  font-weight: bold;
  border: 1px solid theme.$colorTertiary;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 230ms ease-in-out;
  box-shadow: 0 3px 6px #00000066;
  &:hover {
    background: darken(theme.$colorSecondary,10);
  }
  &.icon {
    border-radius: 50%;
    width: 3rem;
    display: flex;
    path {
      fill: theme.$colorTertiary;
    }
  }
}

.drop-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.8),
  0 8px 10px 1px rgba(0, 0, 0, 0.6),
  0 3px 14px 2px rgba(0, 0, 0, 0.5);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drop-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
